@model TeacherViewModel


@{
    ViewData["Title"] = "Edit";
}

<h1> Edit</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Subject"></label>
        <input class="form-control" asp-for="Subject" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <input type="submit" value="save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>