@model GradeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form asp-action="Delete">

    <div class="form-group">
        <label class="col-form-label" asp-for="Subject"></label>
        <input readonly class="form-control" asp-for="Subject" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Score"></label>
        <input readonly class="form-control" asp-for="Score" />
    </div>
    <div class="form-group">
        <label class="col-form-label">Student</label>
        <input readonly class="form-control" value="@Model.Students" />
    </div>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
