@model GradeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<form asp-action="Details">

    <div class="form-group">
        <label class="col-form-label" asp-for="Subject"></label>
        <input readonly class="form-control" asp-for="Subject" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Score"></label>
        <input readonly class="form-control" asp-for="Score" />
    </div>
    <div class="form-group">
        <label>Student:</label>
        <input class="form-control" value="@Model.Students" readonly />
    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-light">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
